#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on init
    wait /dev/block/bootdevice/by-name/TA
    start tad

on boot
    write /sys/class/battchg_ext/smart_charging_activation 1
    chown system system /sys/class/battchg_ext/smart_charging_interruption

    write /sys/class/power_supply/battery/device/iio:device4/in_index_battery_smart_charging_activation_input 1
    chown system system /sys/class/power_supply/battery/device/iio:device4/in_index_battery_smart_charging_interruption_input

on property:sys.boot_completed=1
    write /sys/class/battchg_ext/bootup_shutdown_phase 3
    write /sys/class/power_supply/battery/device/iio:device4/in_index_battery_bootup_shutdown_phase_input 3
    write /sys/class/power_supply/battery/uevent change

on property:sys.shutdown.requested=*
    write /sys/class/battchg_ext/bootup_shutdown_phase 4
    write /sys/class/power_supply/battery/device/iio:device4/in_index_battery_bootup_shutdown_phase_input 4
    write /sys/class/power_supply/battery/uevent change

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 167 GIC 218: msm_drm
    # IRQ  32 GIC 209: kgsl_3d0_irq
    write /proc/irq/218/smp_affinity_list 2
    write /proc/irq/209/smp_affinity_list 1

service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    disabled

service vendor.camera.provider /vendor/bin/hw/android.hardware.camera.provider-service.lineage
    override
    interface aidl android.hardware.camera.provider.ICameraProvider/internal/0
    class hal
    user cameraserver
    group audio camera input drmrpc usb oem_2907 oem_2993
    ioprio rt 4
    capabilities SYS_NICE
    task_profiles CameraServiceCapacity MaxPerformance
